@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-illusion: 247 177 199;
    --color-chantilly: 249 195 209;
    --color-wewak: 240 163 181;
    --color-froly: 245 122 157;
    --color-french-rose: 242 80 125;
    --color-ink: 59 24 36;
    --color-mauve: 123 75 90;
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply min-h-screen min-w-80 bg-chantilly/30 text-ink;
  }

  #root {
    @apply min-h-screen;
  }
}
