@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply min-h-screen min-w-80 bg-chantilly/30 text-ink;
  }

  #root {
    @apply min-h-screen;
  }
}
