[flake8]
max-line-length = 120
extend-ignore = E203, W503, D100, D101, D104, D401, D103
exclude =
    .git,
    __pycache__,
    docs,
    build,
    dist,
    .venv,
    venv,
    */migrations/*,
    node_modules,
    app/dist
per-file-ignores =
    __init__.py:F401,D104
    */migrations/*.py:D100,D101,E501
    core/settings.py:E501
